  @font-face{
        font-family:hfont;
        src:url(font.otf) format("opentype") ;
      } 
    


*{
  margin: 0;
  padding:0;
}

/*--------------------------navbar-------------------------------*/

.navbar1{
  position: fixed;
  width: 100%;
}

.navbar1 .wlogo {
  height: 56px;
  padding-right: 70px;
  padding-left: 128px;
  padding-top: 20px;
}

.navbar1 ul li {
    list-style: none;
  display: inline-block;
  font-weight: bold;
  color: white;
  font-size: 12px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom:45px;
  padding-left: 30px;
  font-family:hfont;
}

.navbar1 .arrow {
  padding-left: 10px;
}
.navbar1 .flag img{
  height: 20px;
  padding-left: 0px;
}

.navbar1 .basket img{
  height: 25px;
  padding-left: 10px;
}
.navbar1 ul:hover {
background-color: black;
}

/*--------------------------navbar-------------------------------*/

.img1{
  height: 97vh;
  width: 100%;
}

/*-----------------------text on the banner----------------------*/

.centertext{
  transform: rotate(-5deg);
}

.text{
  font-size: 72px;
  width: 900px;
  text-align: center;
  margin-top: 400px;
  color: white;
  font-family: hfont;
  letter-spacing: 10px;
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
}

/*-----------------------text on the banner----------------------*/

/*--------------hr tags on the bottom of the banner--------------*/
 
 

/*--------------hr tags on the bottom of the banner--------------*/